<div class="container">
  <section class="hero-section">
    <div>

      <h1><span>The relentless </span>
        Pursuit of perfection
      </h1>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit ipsam rerum, nobis minus eum assumenda esse
        odio obcaecati quo non!</p>

      <p>
        <span>Lorem, ipsum dolor.</span>
        Amazing.
      </p>


      <a href="#">Learn more</a>
    </div>


    <div class="hero-image">
      <img src="../../assets/img/man-stockphoto.png" alt="super cool model" />
    </div>
  </section>

  <section class="overview-section">
    <header>
      <h2>
        <span>
          It's an overview
        </span>

        of our company in past 14 years
      </h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, rerum.</p>
    </header>

    <ul>
      <li>
        <div class="icon"></div>
        <div>
          <header>
            <h3>2020</h3>

            <p>Lorem ipsum dolor sit.</p>
          </header>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ut modi omnis repellendus magni eligendi.
          </p>
        </div>
      </li>

      <li>
        <div class="icon"></div>
        <div>
          <header>
            <h3>2021</h3>

            <p>Lorem ipsum dolor sit.</p>
          </header>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ut modi omnis repellendus magni eligendi.
          </p>
        </div>
      </li>

      <li>
        <div class="icon"></div>
        <div>
          <header>
            <h3>2022</h3>

            <p>Lorem ipsum dolor sit.</p>
          </header>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ut modi omnis repellendus magni eligendi.
          </p>
        </div>
      </li>

      <li>
        <div class="icon"></div>
        <div>
          <header>
            <h3>2023</h3>

            <p>Lorem ipsum dolor sit.</p>
          </header>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat ut modi omnis repellendus magni eligendi.
          </p>
        </div>
      </li>
    </ul>
  </section>

  <section class="services-section">
    <h2>
      <span>Complete building services</span>
    </h2>


    <ul>
      <li>
        <p>35m+</p>
        <p>Lorem, ipsum dolor.</p>
      </li>

      <li>
        <p>158</p>
        <p>Lorem, ipsum dolor.</p>
      </li>

      <li>
        <p>250+</p>
        <p>Lorem, ipsum dolor.</p>
      </li>
    </ul>


    <div>
      <h3>
        <span>We love to work with our partners</span>
      </h3>

      <ul>
        <li>
          <div class="icon partner-icon"></div>
          <p>
            Lorem, ipsum.
          </p>
        </li>
        <li>
          <div class="icon partner-icon"></div>
          <p>
            Illum, dicta.
          </p>
        </li>
        <li>
          <div class="icon partner-icon"></div>
          <p>
            Quasi, quam.
          </p>
        </li>
        <li>
          <div class="icon partner-icon"></div>
          <p>
            Voluptates, non?
          </p>
        </li>
        <li>
          <div class="icon partner-icon"></div>
          <p>
            Totam, quis!
          </p>
        </li>
        <li>
          <div class="icon partner-icon"></div>
          <p>
            Architecto, nobis?
          </p>
        </li>
      </ul>
    </div>
  </section>

  <section class="promotion-section">
    <div>
      <h2>
        <span>The best</span>
        business can get
      </h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora mollitia facilis magni numquam eligendi, neque
        voluptate earum cumque veniam architecto sit labore adipisci aperiam? Eligendi quaerat iste repudiandae qui
        eveniet.</p>

      <a href="#">+1 (234) 1234321123</a>
    </div>

    <ul>
      <li>
        <span class="location-icon"></span>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
      </li>

      <li>
        <span class="location-icon"></span>
        <h3>Lorem, ipsum dolor.</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Pariatur, sequi.</p>
      </li>
    </ul>
  </section>

  <section class="help-section">
    <header>
      <h2>
        <span>We help</span>
        business
      </h2>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, culpa perspiciatis. Sint cumque est minus
        totam omnis! Repellat ullam odit qui porro, hic ipsam, magnam aliquid vero maiores, aspernatur ratione.</p>
    </header>

    <ul>
      <li>
        <div>
          <span class="icon"></span>
          <h3>Lorem, ipsum.</h3>
        </div>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem, ipsum dolor.</p>
      </li>

      <li>
        <div>
          <span class="icon"></span>
          <h3>Lorem, ipsum.</h3>
        </div>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem, ipsum dolor.</p>
      </li>

      <li>
        <div>
          <span class="icon"></span>
          <h3>Lorem, ipsum.</h3>
        </div>
        <p>Lorem ipsum dolor sit.</p>
        <p>Lorem, ipsum dolor.</p>
      </li>
    </ul>
  </section>
</div>